// paths
$fonts: "../fonts";
$images: "../images";
// fonts
$fontBold: "robotobold";
$fontItalic: "robotoitalic";
$fontLight: "robotolight";
$fontMedium: "robotomedium";
$fontRegular: "robotoregular";
$fontThin: "robotothin";
// colors
$black: #000;
$gray: #ccc;
$white: #fff;